:root {
    --vermelho: #e50914;
    --preto: #141414;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    font-family: 'Bebas Neue', sans-serif !important;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    height: 80px;
    width: auto;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 30px;
}

header nav a:hover {
    color: #ffff;
}

main h4{
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 35px;
    font-size: 25px;
}

.play-video {
    padding: 50px;
    align-items: center;
    text-align: center;
    margin-top: 20PX;
}

.play-video div{
    padding: 20px;
}